body {
  text-align: center;
}
.choice-button{
  height: 100px;
  width: 100px;
  margin: 10px;
  border: none;
  border-radius: 50px;
  background-color: rgb(163, 236, 141);
  cursor: pointer;
}
.choice-Image{
  height: 75px;
}